
iRiver.xcodeproj/project.xcworkspace/xcuserdata/ru.xcuserdatad/UserInterfaceState.xcuserstate
iRiver.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
iRiver.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
