<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>google_callback</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.550185976250-os92dqqpkloj0eb66eu4cjnpcgcbuga6</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>firebase_AppID</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>app-1-550185976250-ios-58c93c7be2dd8554a11d83
</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>1026795084542-auhb3eehe5fbsqkueressq8inrlpgf39.apps.googleusercontent.com</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
